@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 85vh repeat(7, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  background-color: #f7f7f7; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  font-size: 1.6rem; }

.heading-1 {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  animation: moveInLeft 1s ease-out; }

.heading-2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #b37bcb, #5c2c70);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem; }

.heading-3 {
  color: #eee;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.7rem;
  animation: moveInRight 1s ease-out;
  line-height: 1; }

.heading-4 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-margin-bottom-sm {
  margin-bottom: 2rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--primary {
  background-color: #8e44ad;
  color: #fff; }
  .btn--primary::after {
    background-color: #8e44ad; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #8e44ad;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #8e44ad;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #8e44ad;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #8e44ad;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #b37bcb, #5c2c70);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature:hover {
    transform: translateY(-1.5rem) scale(1.02); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff;
      display: grid;
      grid-template-rows: minmax(23rem, min-content) 1fr; }
    .card__side--back {
      display: grid;
      align-content: center;
      justify-items: center;
      align-items: center;
      color: #fff;
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #e2897f, #c0392b); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #b37bcb, #5c2c70); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    grid-row: 1 / -1;
    grid-column: 1 / span 1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(rgba(179, 123, 203, 0.7), rgba(92, 44, 112, 0.7)), url(../img/pic-1-large.jpg);
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    width: 75%;
    transform: translateY(2rem);
    grid-row: 1 / -1;
    grid-column: 1 / span 1;
    align-self: end;
    justify-self: end; }
  .card__heading-span {
    padding: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(226, 137, 127, 0.85), rgba(192, 57, 43, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(179, 123, 203, 0.85), rgba(92, 44, 112, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none; }
      .card__details ul li {
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 5rem; }

.bg-video {
  height: 100%;
  width: 100%;
  opacity: .15;
  overflow: hidden;
  filter: grayscale(100%); }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.review {
  width: 75%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #8e44ad;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  display: grid;
  grid-template-columns: 15rem 1fr; }
  .review__shape {
    width: 15rem;
    height: 15rem;
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    border-radius: none; }
  .review__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .review__text {
    color: #fff;
    transform: skewX(12deg); }
  .review__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .review:hover .review__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .review:hover .review__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.footer {
  grid-column: full-start / full-end;
  grid-row: -2 / span 1;
  background-color: #8e44ad; }

.header {
  grid-column: full-start / full-end;
  grid-row: 1 / span 1;
  background-image: linear-gradient(to right bottom, rgba(179, 123, 203, 0.7), rgba(92, 44, 112, 0.7)), url(../img/hero-2000.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
  display: grid;
  grid-template-rows: 1fr min-content minmax(min-content, 10rem) 1fr;
  justify-items: center;
  align-items: start; }
  .header__logo-box {
    padding: 2rem 3rem;
    justify-self: start; }
  .header__logo {
    height: 4.5rem;
    width: 4.5rem;
    fill: #fff; }

.details {
  grid-column: center-start / center-end;
  grid-row: 2 / span 1;
  margin-top: 3rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .details__item {
    font-size: 1.7rem;
    color: #999;
    background: #eee;
    padding: .5rem 2rem;
    border-radius: 50px;
    display: flex;
    align-items: center; }
  .details__icon {
    margin-right: 1rem;
    font-size: 2rem; }

.about {
  grid-column: center-start / center-end;
  grid-row: 3 / span 1;
  display: grid;
  grid-row-gap: 6rem;
  margin-top: 10vh;
  grid-template-rows: min-content 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
  min-height: 80vh; }
  .about > h2 {
    grid-column: 1 / -1;
    justify-self: center; }

.features {
  grid-column: full-start / full-end;
  grid-row: 4 / span 1;
  background-color: #8e44ad;
  padding: 15rem 25rem;
  transform: skewY(-7deg);
  margin-top: 3rem; }
  .features__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 3rem; }
  .features > * {
    transform: skewY(7deg); }

.tours {
  grid-column: center-start/center-end;
  grid-row: 5 / span 1;
  padding-top: 15rem;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem; }
  .tours > h2 {
    grid-column: 1 / -1;
    justify-self: center; }
  .tours > .btn {
    justify-self: center;
    grid-column: 1 / -1; }

.reviews {
  grid-column: full-start / full-end;
  grid-row: 6 / span 1;
  padding-top: 15rem;
  display: grid; }
  .reviews .bg-video, .reviews__content {
    grid-row: 1 / span 1;
    grid-column: 1 / -1; }
  .reviews__content {
    padding: 5rem;
    display: grid;
    grid-row-gap: 5rem;
    justify-items: center;
    z-index: 2000; }

.booking {
  grid-column: center-start / center-end;
  grid-row: -3 / span 1;
  background-color: #5c2c70; }
