// COLORS
$color-primary: #9055a2;
$color-primary-light: #d499b9;
$color-primary-dark: #2e294e;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-secondary-light: #e2897f;
$color-secondary-dark: #c0392b;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// FONT
$default-font-size: 1.6rem;
