body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  // color: $color-grey-dark-1;
  color: $color-white; // FOR TEST
  font-size: $default-font-size;
}

.heading-1 {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  animation: moveInLeft 1s ease-out;
}

.heading-2 {

}

.heading-3 {
  color: $color-grey-light-2;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.7rem;
  animation: moveInRight 1s ease-out;
  line-height: 1;
}

.heading-4 {

}
